@media screen and (min-width: 600px) {

    /* =========================
       HEADER
    ========================= */

    header {
        max-width: 1200px;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: flex;

        flex-direction: row;
    }

    nav a {
        padding: 7px 10px;
    }


    /* =========================
       MAIN
    ========================= */

    main {
        max-width: 1200px;
    }


    /* =========================
       ABOUT + PHOTO
    ========================= */

    .about-photo {
        grid-template-columns: 2fr 1fr;

        gap: 8px;
    }

    .about-content {
        min-height: 140px;
    }

    .photo-container {
        min-height: 140px;
    }


    /* =========================
       COURSES
    ========================= */

    #courses-container {
        grid-template-columns: repeat(3, 1fr);

        gap: 5px;
    }


    /* =========================
       FOOTER
    ========================= */

    footer {
        max-width: 1200px;
    }

}